@use '../utils' as *;

body {
  @include fontStyle ($size: 1.8rem) {
    @include mobile {
      font-size: 1.4rem;
    }
  };
}
.icon {
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  &--link {
    width: 5rem;
    height: 5rem;
    background-image: url('./../image/common/icon_link.svg');
    background-size: 2rem;
  }
  span {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }
}

.app {
  display: flex;
  flex-direction: column;
  height: 100dvh;

  &__header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
    background: $bg-primary;
    padding: 1rem 2rem;

    &__title {
      color: #fff;
    }
  }
}

// 여백
.mg {
  &-t {
    &-10 {
      margin-top: 1rem;
      @include mobile {
        margin-top: 0.5rem;
      }
    }
    &-20 {
      margin-top: 2rem;
      @include mobile {
        margin-top: 1rem;
      }
    }
  }
}

// page-loader
.page-loader {
  display: flex;
  width: 100%;
  height: 100%;

  @include mobile {
    flex-direction: column;
  }

  &-wrap {
    height: 100%;
    overflow: hidden;
  }

  &__nav {
    min-width: 20rem;
    flex: 0 0 18%;
    background: $bg-white;
    border-right: 1px solid $bg-gray-light;

    @include mobile {
      flex-basis: auto;
      border-right: none;
      border-bottom: 1px solid $bg-gray-light;
      overflow-x: scroll;
      overflow-y: hidden;
      // scrollbar-width: none;
      scroll-snap-type: x mandatory;
      -webkit-overflow-scrolling: touch;

      &::-webkit-scrollbar {
        height: 0.5rem;
      }

      &::-webkit-scrollbar-track {
        background: transparent;
      }

      &::-webkit-scrollbar-thumb {
        background-color: #cdcdcd; 
      }
    }

    .nav {
      @include mobile {
        max-width: 100%;
      }
      &__menu {
        @include mobile {
          display: flex;
          flex-wrap: nowrap;
        }

        li {
          display: flex;
          justify-content: center;
          height: 5rem;
        }

        &__btn {
          @include fontStyle ($color: $fc-black);

          &--load {
            display: inline-flex;
            align-items: center;
            flex: 1 1 auto;
            padding: 0 1rem;
            @include ellipsis;

            @include mobile {
              min-width: 10rem;
              justify-content: center;
              scroll-snap-align: center;
            }

          &.active {
            background: $bg-primary;
            color: $fc-white;
            font-weight: 600;
          }
          &:not(.active):hover, &:not(.active):focus-visible {
            color: $fc-primary;
            font-weight: 600;
          }

          }
          &--link {
            flex-shrink: 0;
            background: $bg-gray-light;
            &:hover, &:focus-visible {
              background: $bg-gray;
            }

            @include mobile {
              display: none;
            }
          }
        }
      }
    }
  }
  &__container {
    flex: 1;
  }
}

// 개별 페이지 내부
.container {
  position: relative;
  &__inner {
    width: 100%;
    max-width: 192rem;
    margin: 0 auto;
    padding: 0 4rem 10rem;

    @include mobile {
      padding: 0 2rem 16rem;
    }
  }

  section + section {
    margin-top: 6rem;

    @include mobile {
      margin-top: 4rem;
    }
  }

  &__title {
    position: sticky;
    top: 0;
    z-index: 100;
    background: #fff;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding:3rem 0;
    @include fontStyle ($size: 3rem, $fw: 900, $color: #222) {
      @include mobile {
        font-size: 2.4rem
      }
    };

    @include mobile {
      padding: 1.5rem 0;
    }

    &--sub {
      @include fontStyle ($size: 2.4rem, $fw: 700, $color: #222);
    }

    &::before {
      display: block;
      content: '';
      width: 0.5rem;
      height: 2.8rem;
      background: $bg-primary;
    }
  }

  &__content {
    &--list {
      padding-left: 2rem;

      > li {
        position: relative;
        + li {
          margin-top: .6rem;
        }

        &:before {
          position: absolute;
          left: -1.2rem;
          top: 1.2rem;
          display: block;
          content: '';
          background: $fc-gray-light;
          width: 0.5rem;
          height: 0.5rem;
          border-radius: 50%;

          @include mobile {
            top: 1rem;
          }
        }
      }
    }

    p {
      line-height: 1.2;
    }

    &--box {
      background: $bg-gray-light;
      // border: 1px solid $bg-gray;
      padding: 2rem 3rem;
      border-radius: 1.2rem;

      @include mobile {
        padding: 1.5rem 2rem;
        border-radius: 0.8rem;
      }
    }
  }

  pre {
    background: $bg-primary-dark;
    padding: 2rem 3rem;
    border-radius: 1.2rem;
    color: $fc-white !important;
    
    @include mobile {
      padding: 1.5rem 2rem;
      font-size: 1.2rem;
      border-radius: 0.8rem;
    }

    code {
      white-space: pre-wrap;
    }
  }

  b {
    font-weight: 600 !important;
  }

  .container__btn {
    display: inline-flex;
    align-items: center;
    min-height: 3rem;

    @include fontStyle ($size: 1.4rem) {
      @include mobile {
        font-size: 1.2rem;
      }
    }
    &--link {
      padding: 0 1.5rem;
      border: 1px solid $bg-gray;
      border-radius: 2rem;
      color: $fc-black;

      &:hover, &:focus-visible {
        background: $bg-primary;
        border-color: $bg-primary;
        color: $fc-white;
      }
    } 
  }
}

// font point
.fc {
  &-lime {
    color: rgb(242, 255, 59) !important;
    font-weight: 600;
  }
  &-black {
    color: $fc-black !important;

    &-real {
      color: $fc-black-real !important;
    }
  }
  &-primary {
    color: $fc-primary !important;
  }
  &-red {
    color: rgb(185, 36, 36) !important;
  }
}

.text {
  &-underline {
    text-decoration: underline;
  }
  
  &-example {
    font-size: 75%;
    opacity: 0.7;

    @include mobile {
      font-size: 85%;
    }

    &--block {
      display: block;
    }
  }
}