// 유틸리티(변수, 믹스인, 함수)
@use '../utils' as *;

// 아코디언
.accordion {
  &__item {
    width: 100%;
    &__head {
      width: 100%;
    }
    &__content {
      width: 100%;
      max-height: 0;
      overflow: hidden;
      padding: 0rem; 
      will-change: max-height;
      transition: max-height 0.3s $ease;
    }

    // &--active {
    //   .accordion__item__content {
    //     
    //   }
    // }
  }
}
